@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
}

.active{
  min-height: 400px;
  
 
}
.active svg{
  transform: rotate(180deg);
}